<div class="container main-container">
    <h3>Interpolation</h3>
    <p [ngClass]="{
        'text-secondary': contadorCliques < 3,
        'text-success': contadorCliques >= 3,
        'text-warning': contadorCliques >= 5,
        'text-danger': contadorCliques >= 9
    }">
    O número de cliques é: {{ contadorCliques }}</p>
    <br />
    <br />
    <h3>Propert Binding</h3>
    <button class="btn btn-success" [disabled]="contadorCliques >= 10">Info</button>
    <br />
    <br />
    <h3>Event Binding</h3>
    <button class="btn btn-info" (click)="adicionarClique()">Clique me</button>
    <button class="btn btn-warning" (click)="zerarContatod()" [disabled]="contadorCliques < 10">Limpar</button>
    <br />
    <br />
    <h3>Two-way Binding</h3>
    <!-- <input type="text" (keyup)="keyUp($event)" placeholder="Digite seu nome" />
    <label>Seu nome é: {{nome}}</label> -->
    <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" placeholder="Digite seu nome" />
    <label class="{{nome}}">Seu nome é: {{nome}}</label>
</div>